body {
	background-color:rgba(101,147,74,1.00);
	padding: 2px;
	border:hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
	font-size: 28px;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}

.toolbar {
	text-align: center;
	border-width:30px;
	border: thick;
	border: rgba(198,84,84,1.00)
}

.toolbar-2 {
	text-align: center;
	margin-top: 30px;
	padding: 30px;
	background-color: rgba(255,255,255,0.05);
}

.pic{
	
	background-image: image("https://zengxiaoer.oss-cn-shanghai.aliyuncs.com/thelasted/-1764d87ab401aaed.jpg");
	background-size:100% 100%;	
}

.p{
	font-size: 100px;
}
.btn {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 1rem 2rem;
	background-color: rgba(255,255,255,0.2);;
	color: #fff;
	border: 0;
	
	transition: all 200ms ease;
}
.btn.btn-round {
	border-radius: 10px;
}
.btn:focus {
	outline: none;
}
.btn:active {
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1);
}

.btn-blue {
	background-color: #005db9;
}
.btn-purple {
	background-color: #AC4BBA;
}
.btn-red {
	background-color: #ad0052;
}
.btn-green {
	background-color: #00947e;
}
.btn-black {
	background-color: #444;
}.btn-qing {
	background-color: #1F8FB6;
}

.btn-he{
	background-color: #D1BA74;
}
.btn-he2{
	background-color:rgba(174,221,129,1.00);
}

.btn-border {
	display: inline-block;
	margin: 2px;
}
.btn-border	.btn {
	display: block;
	margin: 2px;
}
	
.btn-border.btn-round {
	border-radius: 10px;
}
.btn-border.btn-round .btn {
	border-radius: 10px;
}